.img-thumbnail{
    height: 400px;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.coustomize{
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 20px; 
}

.promo{
    text-align: center;
}
